<div class="container-xl">
    <div class="table-responsive">
      <div class="table-wrapper">
        <div class="table-title">
          <div class="row">
            <div class="col-sm-6">
              <h4><b>New Loan</b></h4>
            </div>
            
          </div>
        </div>
        <form #loanForm="ngForm">
            <div class="table-content">
                <div class="form-group p-10 row">
                    <div class="col-sm-2">
                        <label for="FirstName" class="p-t-b-10">User Name<span class="requiredStar">*</span></label>
                      </div>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" id="Name" required maxlength="255"
                          [(ngModel)]="addLoanForm.Name" name="Name" #Name="ngModel">
                      </div>
                      <div class="col-sm-12">
                        <label for="LoanNumber" class="p-t-b-10">Loan Number<span class="requiredStar">*</span></label>
                      
                        <input type="text" class="form-control" id="LoanNumber" required maxlength="255"
                          [(ngModel)]="addLoanForm.LoanNumber" name="LoanNumber" #Name="ngModel">
                        
                      </div>
                      <div class="col-sm-12">
                        <label for="LoanAmount" class="p-t-b-10">LoanAmount<span class="requiredStar">*</span></label>
                      
                        <input type="text" class="form-control" id="LoanAmount" required maxlength="255"
                          [(ngModel)]="addLoanForm.LoanAmount" name="LoanAmount" #Name="ngModel">
                        
                      </div>

                      <div class="col-sm-12">
                        <label for="LoanTerm" class="p-t-b-10">LoanTerm<span class="requiredStar">*</span></label>
                      
                        <input type="text" class="form-control" id="LoanTerm" required maxlength="255"
                          [(ngModel)]="addLoanForm.LoanTerm" name="LoanTerm" #Name="ngModel">
                        
                      </div>

                      <div class="col-sm-12">
                        <label for="BorrowerInfo" class="p-t-b-10">BorrowerInfo<span class="requiredStar">*</span></label>
                      
                        <input type="text" class="form-control" id="BorrowerInfo" required maxlength="255"
                          [(ngModel)]="addLoanForm.BorrowerInfo" name="BorrowerInfo" #Name="ngModel">
                        
                      </div>

                      <div class="col-sm-12">
                        <label for="PropertyInfo" class="p-t-b-10">PropertyInfo<span class="requiredStar">*</span></label>
                      
                        <input type="text" class="form-control" id="PropertyInfo" required maxlength="255"
                          [(ngModel)]="addLoanForm.PropertyInfo" name="PropertyInfo" #Name="ngModel">
                        
                      </div>

                      <div class="col-sm-12">
                        <label for="Status" class="p-t-b-10">Status<span class="requiredStar">*</span></label>
                      
                        <input type="text" class="form-control" id="Status" required maxlength="255"
                          [(ngModel)]="addLoanForm.Status" name="Status" #Name="ngModel">
                        
                      </div>

                      <div class="col-sm-12">
                        <label for="Loanfees" class="p-t-b-10">Loanfees<span class="requiredStar">*</span></label>
                      
                        <input type="text" class="form-control" id="Loanfees" required maxlength="255"
                          [(ngModel)]="addLoanForm.Loanfees" name="Loanfees" #Name="ngModel">
                        
                      </div>

                      <div class="col-sm-12">
                        <label for="OriginationDate" class="p-t-b-10">OriginationDate<span class="requiredStar">*</span></label>
                      
                        <input type="text" class="form-control" id="OriginationDate" required maxlength="255"
                          [(ngModel)]="addLoanForm.OriginationDate" name="OriginationDate" #Name="ngModel">
                        
                      </div>

                      <div class="col-sm-12">
                        <label for="OriginalAccount" class="p-t-b-10">OriginalAccount<span class="requiredStar">*</span></label>
                      
                        <input type="text" class="form-control" id="OriginalAccount" required maxlength="255"
                          [(ngModel)]="addLoanForm.OriginalAccount" name="OriginalAccount" #Name="ngModel">
                        
                      </div>

                      <div class="col-sm-12">
                        <label for="LienInfo" class="p-t-b-10">LienInfo<span class="requiredStar">*</span></label>
                      
                        <input type="text" class="form-control" id="LienInfo" required maxlength="255"
                          [(ngModel)]="addLoanForm.LienInfo" name="LienInfo" #Name="ngModel">
                        
                      </div>

                      <div class="col-sm-12">
                        <label for="LoanDocuments" class="p-t-b-10">LoanDocuments<span class="requiredStar">*</span></label>
                      
                        <input type="text" class="form-control" id="LoanDocuments" required maxlength="255"
                          [(ngModel)]="addLoanForm.LoanDocuments" name="LoanDocuments" #Name="ngModel">
                        
                      </div>
                </div>
                </div>
                <div class="table-footer">
                    <button class="btn btn-success" (click)="AddLoan()">Submit</button>
                  </div>
        </form>
      </div>
    </div>
  </div>